<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiwj.screen.mapper.ConfigMapper">
    <select id="selectList" resultType="com.wiwj.screen.model.Config">
        select * from config
    </select>
    <select id="getConfig" resultType="com.wiwj.screen.model.Config">
        select * from config where code=#{code}
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.wiwj.screen.model.Config" >
        update config
        <set >
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="code != null" >
                code = #{code},
            </if>
            <if test="value != null" >
                value = #{value},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>